*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 18px;
    background-image: linear-gradient(to right, #17dde4, #409bf7);
    border-bottom: 2px solid white;
    box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-radius: 0px 0px 10px 10px;
    
}

.navUl {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    font-family: Libre Franklin;
    margin: 0 auto; 
    
}

.navUl li {
    display: flex;
    align-items: center;
}

.navUl li a { 
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 10px;
}

.navUl li a:hover {
    cursor: pointer;
    /* font-weight: 700; */
    color: white;

    text-decoration: underline; 

    transform: scale(1.2);
    transition: 0.5s;
}


.logoImage{
    width: 110px;
    height: 110px;
    border-radius: 999px;
    border: 1px solid white;
}
.logoImage:hover{
    transform: perspective(500px) rotateY(180deg) scale(1.2);
    cursor: pointer;
    transition: 1s;
    box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
}
.main{
    background-image: url("../Images/plane.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



/* Bluring the bg */
.main {
    position: relative;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Images/plane.jpg");
    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(8px);
    z-index: -1;
}

.mainName,
.mainCitata,
.ordering {
    position: relative;
    z-index: 1;
}
/* end of bluring the bg */


.mainName{
    text-align: center;
    font-size: 100px;
    margin-bottom: 20px;
    margin-top: 90px;
    font-family: Playwrite DK Uloopet;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 15px;
        left: 54%;
        z-index: -1;
        width: 50px;
        height: 50px;
        background-color: rgb(252, 216, 12);
        border-radius: 999px;
    }
    color: whitesmoke;

}
.mainCitata{
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
    font-family: Libre Franklin;
    font-weight: 600;
    color: whitesmoke;
    border-top: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius:0 0 15px 15px;
    padding: 0 20px;
}
.ordering{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: Libre Franklin;
    font-weight: 600;
    border-top: 2px solid white;
    box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
    background-image: linear-gradient(to right, #17dde4 , #409bf7);
    padding: 20px;
}


.startOrderingButton{
    text-align: center;
    margin: 10px;
    /* padding: 10px; */
    font-size: 50px;
    font-family: Playwrite DK Uloopet;
    background-color: #17dde4;
    border-radius: 15px;
   
    
    
}
.startOrderingButton a{
    text-decoration: none;
    font-style: bold;
    color: white;
    padding: 10px;
    border-radius: 10px;

}
.startOrderingButton:hover {
    background-color: #000000;
    color: #409bf7;
    cursor: pointer;
    animation: pulse 1s infinite;
    
    
}

.divider {
    width: 100%;
    height: 10vh;
    background-image: linear-gradient(to right, #17dde4 , #409bf7);
    border-top: 4px solid white ;
    border-bottom: 4px solid white ;
    border-radius: 0 0 15px 15px;
}






.info {
    text-align: center;
    padding: 20px 0;
    background-image: url("../Images/plane2.jpg");
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Libre Franklin;
    text-align: start;
}


.infoTitle, .featuresTitle, .testimonialsTitle {
    font-size: 40px;
    margin-bottom: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin: 0 20px;
}
.infoTitle, .featuresTitle{
    text-align: center;
}
.infoText {
    font-size: 30px;
    
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin: 10px 20px;

    padding: 10px;
}

.featuresList {
    list-style: none;
    padding: 0;
    margin: 20px 10vw 40px;
    display: flex;

    flex-wrap: wrap;
    gap: 10px;

    font-size: 20px;
    font-family: Libre Franklin;
}

.featuresList li {
    font-size: 25px;
    margin-bottom: 10px;
    flex-basis: calc(50% - 10px);

    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 6px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}
.featuresList li img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 10px;
}

.featuresList li:hover {
    background-color: rgba(128, 255, 0, 0.222);
}
.testimonialsTitle{
    text-align: center;
    font-weight: bold;
}
.testimonials {
    background-color: white;
    padding: 20px;
    /* margin: 20px 10vw;   */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 20px;
    
}
.testimonialP{
    text-align: center;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
    font-family: Libre Franklin;            
}
.testimonial img {
    width: 255px;
    height: 255px;
    object-fit: cover;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 10px;
   
}
.swiper-slide .testimonial h4{
    font-weight: 600;
    font-size: 50px;
    font-family: Libre Franklin;
    margin-bottom: 10px;
}
/* slider */
/* Загальні стилі для слайдера */
.swiper-container {
    width: 80%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.swiper-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.swiper-slide img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    /* border: 2px solid black; */
    border-radius: 15px;
    margin-bottom: 10px;
}




/* slider end*/











.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(to right, #17dde4 , #409bf7);
    border-top: 2px solid white;
    
}
.footer ul{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    font-family: Libre Franklin;
}
.footer ul li{
   font-family: Libre Franklin;
}
.footer ul li a{ 
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: 600;
    padding: 10px;
}
.footer ul li a:hover{
    cursor: pointer;
    font-weight: 700;
    
    text-decoration: underline;
    transform: scale(1.2);
    transition: all 0.5s;
}
.footer p{
    font-size: 20px;
    font-family: Libre Franklin;
    color: white;
}
.footer .socialsFooter{
    display: flex;
    gap: 20px;
    font-size: 30px;
}
.footer .socialsFooter a{
    text-decoration: none;
    color: white    ;
    font-weight: 600;
    padding: 10px;
}
.footer .socialsFooter a:hover{
    cursor: pointer;
    font-weight: 700;
    
    color: white;
    transition: all 0.5s;
    
    animation: spin 0.8s ease-in-out forwards;
}

@keyframes spin {
    0% {
        transform: scale(1.2);
    }
    30% {
        transform: scale(1.2) rotate(10deg);
    }
    50% {
        border-radius: 50%;
        transform: scale(0.8) rotate(10deg);
        color: indigo;
    }
    100% {
        color: white;
    }
}

.footer .ulFooter li:hover {
    animation: pulse 1s infinite;
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
  }
