*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 18px;
    background-image: linear-gradient(to right, #17dde4 , #409bf7);
    border-bottom: 2px solid white;
    box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);


    
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000; /* Ensure the header stays above other content */
        
    border-radius: 0px 0px 10px 10px;
    

}
.header .navUl{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    font-family: Libre Franklin;
}

.navUl li a{ 
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 10px;
}
.navUl li a:hover{
    cursor: pointer;
    font-weight: 700;
    
    color: white;
    transform: scale(1.6);
    transition: 0.5s;
}

.logoImage{
    width: 110px;
    height: 110px;
    border-radius: 999px;
    border: 1px solid white;
}
.logoImage:hover{
    transform: perspective(500px) rotateY(180deg) scale(1.2);
    cursor: pointer;
    transition: 1s;
    box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
}
.main{
    background-image: url("../Images/plane.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



/* Bluring the bg */
.main {
    position: relative;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Images/plane.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(8px);
    z-index: -1;
}

.mainName,
.mainCitata,
.ordering {
    position: relative;
    z-index: 1;
}
/* end of bluring the bg */


.mainName{
    text-align: center;
    font-size: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Playwrite DK Uloopet;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 15px;
        left: 54%;
        z-index: -1;
        width: 50px;
        height: 50px;
        background-color: rgb(252, 216, 12);
        border-radius: 999px;
    }

}
.mainCitata{
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
    font-family: Libre Franklin;
    font-weight: 600;
}
.ordering{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: Libre Franklin;
    font-weight: 600;
    border-top: 2px solid white;
    box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
    background-image: linear-gradient(to right, #17dde4 , #409bf7);
    padding: 20px;
}


.startOrderingButton{
    text-align: center;
    margin: 10px;
    /* padding: 10px; */
    font-size: 50px;
    font-family: Playwrite DK Uloopet;
    background-color: #17dde4;
    border-radius: 15px;
   
    
    
}
.startOrderingButton a{
    text-decoration: none;
    font-style: bold;
    color: white;
    padding: 10px;
    border-radius: 10px;

}
.startOrderingButton:hover {
    background-color: #000000;
    color: #409bf7;
    cursor: pointer;
    animation: pulse 1s infinite;
    
    
}

.info {
    text-align: center;
    padding: 40px 20px;
    background-color: #f4f4f4;
    font-family: Libre Franklin;
}
.info .testimonialsTitle {
    text-align: start;
}

.infoTitle, .featuresTitle, .testimonialsTitle {
    font-size: 40px;
    margin-bottom: 20px;
}

.infoText {
    font-size: 20px;
    margin-bottom: 20px;
}

.featuresList {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}

.featuresList li {
    font-size: 20px;
    margin-bottom: 10px;
}

.testimonials {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.testimonial {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}













.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(to right, #17dde4 , #409bf7);
    border-top: 2px solid white;
    
}
.footer ul{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    font-family: Libre Franklin;
}
.footer ul li{
   font-family: Libre Franklin;
}
.footer ul li a{ 
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: 600;
    padding: 10px;
}
.footer ul li a:hover{
    cursor: pointer;
    font-weight: 700;
    
    color: white;
    transform: scale(1.2);
    transition: all 0.5s;
}
.footer p{
    font-size: 20px;
    font-family: Libre Franklin;
}
.footer .socialsFooter{
    display: flex;
    gap: 20px;
    font-size: 30px;
}
.footer .socialsFooter a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 10px;
}
.footer .socialsFooter a:hover{
    cursor: pointer;
    font-weight: 700;
    
    color: white;
    transition: all 0.5s;
    
    animation: spin 0.8s ease-in-out forwards;
}

@keyframes spin {
    0% {
        transform: scale(1.2);
    }
    30% {
        transform: scale(1.2) rotate(10deg);
    }
    50% {
        border-radius: 50%;
        transform: scale(0.8) rotate(10deg);
    }
    100% {
        color: indigo;
    }
}

.footer .ulFooter li:hover {
    animation: pulse 1s infinite;
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
  }
